# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# RyiSnows bilder – får inte publiceras (ska bytas mot egna)
public/sprites/

# RyiSnows världskarta – får inte publiceras (ska bytas mot egen)
src/game/maps/world01.txt
